<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi html</title>
</head>
 <!--esto es un comentario en html y tiene que estar por fuera de las etiquetas-->
<style>
   
    h2{background-color: cadetblue;}
    
</style>
<script>
    alert("Hola soy JS dentro de html")
</script>
<body>
    <h1 style="background-color: aqua;">Hola esto es html</h1>
    <h2>Hola soy {{ variable }}</h2>
    <p>Esto es un párrafo en html</p>
    <p>{{ frutas }}</p>
    <p>{{ day }}</p>

    <button style="background-color: brown; color: aliceblue;">Presiona</button>
    <a href="https://keepcoding.io"> ir a Keepcoding</a>
    
</body>
</html>